<style>
    li {
        list-style: none;
        padding: 4px;
    }
    .entry_ok {
        color: green;
    }
    .entry_error {
        color: red;
    }
</style>
<div>
    <h2> Autocall test result summary </h2>
    <ul id="call_report">
    {% for call in calls %}
        <li>
            {%if call.result == call.expect %}
                <span class="entry_ok"> [PASS] </span>
            {% else %} 
                <span class="entry_error"> [FAILED] </span>
            {% endif %} 
            [{{call.url}}]
            {{call.call_id}} :
            {%if call.result != call.expect %} 
                <span class="entry_error"> Expected {{call.expect}} but got {{call.result}}</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>